.DS_Store
*.zip
pcb/production
*.lck
fp-info-cache
*.dsn
*backups
*.stl
*.afdesign
._*
*.log
*.uf2
*.kicad_prl
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*/.idea/
*/__pycache__/
app/.env
app/.venv/
app/build/